<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8"/>
    <title>ES仿京东搜索</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>

<body class="pg">
<div class="page" id="app">
    <div id="mallPage" class=" mallist tmall- page-not-market ">

        <!-- 头部搜索 -->
        <div id="header" class=" header-list-app">
            <div class="headerLayout">
                <div class="headerCon ">
                    <!-- Logo-->
                    <h1 id="mallLogo">
                        <img th:src="@{/images/jdlogo.png}" alt=""/>
                    </h1>

                    <div class="header-extra">
                        <!--搜索-->
                        <div id="mallSearch" class="mall-search">
                            <form name="searchTop" class="mallSearch-form clearfix">
                                <fieldset>
                                    <div class="mallSearch-input clearfix">
                                        <div class="s-combobox" id="s-combobox-685">
                                            <div class="s-combobox-input-wrap">
                                                <input v-model="keyword" type="text" autocomplete="off" value="dd"
                                                       id="mq"
                                                       class="s-combobox-input" aria-haspopup="true"
                                                       placeholder="输入关键字搜索ElasticSearch库">
                                            </div>
                                        </div>
                                        <button @click.prevent="search" type="submit" id="searchbtn">搜索</button>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 商品详情页面 -->
        <div id="content">
            <div class="main">
                <!-- 商品详情 -->
                <div class="view grid-nosku">
                    <div class="product" v-for="result in results">
                        <div class="product-iWrap">
                            <!--商品封面-->
                            <div class="productImg-wrap">
                                <a class="productImg" :href="result.url">
                                    <img :src="result.img">
                                </a>
                            </div>
                            <!--价格-->
                            <p class="productPrice">
                                <em>{{ result.price }}</em>
                            </p>
                            <!--标题-->
                            <p class="productTitle">
                                <a :href="result.url" v-html="result.title"></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/axios.min.js}"></script>
<script th:src="@{/js/vue.js}"></script>
<script>
    new Vue({
        el: "#app",
        data: {
            keyword: '',
            results: []
        },
        methods: {
            search() {
                if (this.keyword.trim().length <= 0) {
                    alert("关键字不可为空");
                } else {
                    axios.get("search/search/" + this.keyword + "/1/10").then(resp => {
                        var object = resp.data.object;
                        if (object.length <= 0) {
                            alert("未查询到相关数据，可通过/search/jsoup接口 爬取数据后查询");
                        } else {
                            this.results = object;
                        }
                    })
                }
            }
        }
    })
</script>

</body>
</html>